$color: #ddd;
$color2: #888;

.root {
  position: relative;
}

.wrap {
  // background: #E51FA0;
  // padding: 10px;
  // border: 1px solid #ddd;
  position: relative;

  padding: 1.5rem 1rem 1rem;
  background: $color;
  margin: 3rem -1rem 0;
  --blue: #007acc;

  // var linkCar --#007acc
  button {
    border: none;
    padding: 0;
    background: transparent;
    color: var(--blue);
  }

  border-top: 1px solid $color2;
  border-bottom: 1px solid $color2;
  z-index: 2;
}

.no {
  position: absolute;
  top: -1.6125rem;
  left: 0;
  color: $color;
  font-family: 'Montserrat', sans-serif;
  // font-weight: 900;
  font-size: 2rem;

  // top: -0.5rem;
  line-height: 2rem;
  color: $color2;
  // z-index: 1;
}

.cards {
  line-height: 0;
  margin-bottom: 0.5rem;
}

.answer {
  float: right;
  // display: flex;
  // align-items: flex-end;
}

.show_hint {
  float: left;
}

.clear_both {
  clear: both;
}

.hint {
  margin-bottom: 0;
}